<div class="locations-container">
    <!-- Content of the Locations page -->
  <div>
    <div class="title-locations" id="inner-planets">Interplanet Eight Odyssey
      <p class="subheader"> A full tour of the classic 8: Mercury through Neptune</p>
      <div class="inner-planet-dropdown">
        <img src=".\assets\innerPlanets.jpg" class="logo" alt="solar-system" style="width:700px; height:450px;">
        <div class="desc">Adventure awaits</div>
      </div>
    </div>
    <div class="title-locations" id="outer-planets">Exoplanet Excursion
      <p class="subheader"> The Outer-Five: Pluto and the other Dwarf planets</p>
      <div class="outer-planet-dropdown">
        <img src=".\assets\outerPlanets.jpg" class="logo" alt="solar-system" style="width:700px; height:450px;">
        <div class="desc">Curiousity beckons</div>
    </div>
    <div class="title-locations" id="nebula">Nebula's Edge
      <p class="subheader">Discover the Outer Limits of our Solar System
      </p>
    </div>
    <div class="title-locations" id="moon">Luna Vista
      <p class="subheader">
        Dance in Moonlight, Howl at the Moon, and Master the Moonwalk
      </p>
    </div>
  </div>
</div>
  