.locations-container {
    padding-bottom: 20px;
    margin: 5%;
  
  }
  .title-locations {
    padding-top: 5%;
    font-size: 40px;
}
  .subheader {
    font-size: 25px;
    font-style: italic;

}
