<div class="locations-container">
    <!-- Content of the Locations page -->
  <div>
    <div class="title-locations">Interplanet Eight Odyssey
      <p class="subheader">
        A full tour of the classic 8: Mercury through Neptune
      </p>
    </div>
    <div class="title-locations">Exoplanet Excursion
      <p class="subheader">
        The Outer-Five: Pluto and the other Dwarf planets
      </p>
    </div>
    <div class="title-locations">Nebula's Edge
      <p class="subheader">Discover the Outer Limits of our Solar System and "Unveiling the Mysteries Beyond the Stars
      </p>
    </div>
    <div class="title-locations">Luna Vista
      <p class="subheader">
        Dance in Moonlight, Howl at the Moon, and Master the Moonwalk
      </p>
    </div>
  </div>
</div>
  