<div class="container">

  <div class="navbar">
    <ul>
      <img src=".\assets\INTERLOGO.png" class="logo" alt="guidence" style="width:100px; height:100px;">
      <li><a class="link" href="/about"><strong>About</strong></a></li>
      <li><a class="link" href="/locations"><strong>Locations</strong></a></li>
      <li><a class="link" href="/activities"><strong>Activities</strong></a></li>
      <li><a class="link" href="/guidance"><strong>Guidance</strong></a></li>
      <li><a class="link" href=""><strong>Home</strong></a></li>
    </ul>
  </div>
    <router-outlet></router-outlet>
  </div>

