<div class="container">

  <div class="navbar">
    <ul>
      <img src=".\assets\INTERLOGO.png" class="logo" alt="guidence" style="width:100px; height:100px;">
      <li><a class="link" href="/about">About</a></li>
      <li><a class="link" href="/locations">Locations</a></li>
      <li><a class="link" href="/activities">Activities</a></li>
      <li><a class="link" href="/guidance">Guidance</a></li>
      <li><a class="link" href="">Home</a></li>
    </ul>
  </div>
    <router-outlet></router-outlet>
  </div>

